.km-ios #my-drawer .km-content, .km-android #my-drawer .km-content, .km-ios #my-drawer .km-list > li, .km-android #my-drawer .km-list > li,
.km-ios #my-drawer .km-listview-link > .km-icon, .km-android #my-drawer .km-listview-link > .km-icon, .km-ios #my-drawer .km-list li > .km-icon, 
.km-android #my-drawer .km-list li > .km-icon
{
	background-color: #4e4e4e;
    color: #fff;
}

.km-ios #my-drawer .km-group-title
{
   background-color: #6e6e6e;
   color: #fff;
}

.km-drawer-button:before, .km-drawer-button:after  { content: "\E077"; }
.km-inbox:before, .km-inbox:after { content: "\E0B0"; }
.km-sent:before, .km-sent:after { content: "\E0C6"; }
.km-trash:before, .km-trash:after { content: "\E0C3"; }
.km-spam:before, .km-spam:after { content: "\E0C5"; }
.km-star:before, .km-star:after { content: "\E0D7"; }
.km-settings:before, .km-settings:after { content: "\E0DA"; }
.km-off:before, .km-off:after { content: "\E0B9"; }

/* RETINA DISPLAY STYLES */
@media only screen and (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
   
}
